html {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 400;
  color: #545454;
  height:100%;
  width:100%;
}

body {
  height:100%;
  width: 100%;
  max-width: 100%;
  overflow-x:hidden;
}




.fill {
  width: 100%;
}


.thin {
  font-weight: 400;
}

.x-thin {
  font-weight: 300;
}

.rounded {
  border-radius: 4px;
}

.indented {
  margin-left: 1em;
}

.slight-indent {
  margin-left: 0.5em;
}


a {
  text-decoration:none;
}

.text-grey {
  color: grey;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.header {
  margin-bottom: 5px;
}

.md-button {
  color: grey !important;
  font-weight: 500;
}

.subheader {
  margin-bottom: 15px;
}

.hovered {
  background-color: #F9F9F9;

}

.expanded {
  background-color: #F9F9F9;
  margin: 40px 0px 40px 0px;

}

.noborder {
  border-style: hidden;
  outline: none;
}


.list-item {
  padding: 10px 10px 20px 10px;
  display: block;
}

.skill {
  margin-left: 1em;
  padding-bottom: 0.7em;
  width: 100%;
}

.sub-skill {
  margin-left: 1em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;

}

.centered-margins {
  margin-left: auto;
  margin-right: auto;
}

.hover-left {
  margin-right:1em;
  margin-left:auto;
}

.hover-right {
  margin-right:2em;
  margin-left:auto;
}

.show-more {
  margin-left: auto;
  margin-right: auto;
}



.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}




.contact-item {
  font-size: 20px;
  color: #545454;
  height:20px;
  margin: 2em;
}

.contact-item div {
  margin: 2em;
}

h2 {
  padding-left: 8px;
  font-weight: 300;
}


h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 400;
}


.what-am-i {
  font-size: 30px;
}

.contact-btn {
    text-transform: lowercase;
    font-size: 10%;
}


.tab-selector {
  margin-bottom: 2em;
}

.tab {
  font-size: 20px;
  z-index: 0;

  border-style: solid;
  border-top-style: none;
  border-width: thin;
  border-color: $border-color-light;
  border-radius: 7px;

  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.tab a {
  padding: 10px 30px 10px 30px;
  color: #545454;
  text-align: center;
}


.front-link-icons ng-md-icon {
  margin: 0.8em;
}

.show-contact {
  color: gray;
  font-size: 1.2em;
}

.show-contact div {
  padding: 8px;
}

.portfolio-header {
  background-color: white;
  background-image: url('img/marble.jpg');
  background-position: center;
  background-repeat: no-repeat;
  overflow:hidden;

  z-index: 1;

  color: grey;
  margin: 3em 0em 0em 0em;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  min-height: 400px;
}

.portfolio-header .name {
  font-size: 3.3em;
  font-weight: 300;
  margin-top:0.2em;
  margin-bottom:0.2em;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
  background:rgba(255,255,255,0.3);
  border-radius: 10px;
}

.flex { flex : 1 1 0%; }

#me {
  width: 400px;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}


.floating-frame {
  border: 0px none;
  min-height: 800px;
  width: 100%;
  min-width: 350px;
}

.portfolio-section {
  width: 100%;
  max-width: 100%;
}

.gist-title {
  font-size: 24px;
  font-weight: 300;
}

.gist-nav i {
  color: gray;
  cursor:pointer;
}

.gist-description {
  min-height: 700px;
}


.smoothHeight {
    -webkit-animation: smooth-expand-height 2s; /* Chrome, Safari, Opera */
    animation: smooth-expand-height 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes smooth-expand-height {
    0%   {max-height: 0px;}
    100% {max-height: 20px;}
}

/* Standard syntax */
@keyframes smooth-expand-height {
  0%   {max-height: 0px;}
  100% {max-height: 20px;}
}
