<div class="animated fadeIn" style="height: 100%; width:100%" >
  <div layout="row" flex="99" class="" layout-align="center center">
    <div class="portfolio-header md-whiteframe-z1 clearfix" 
    layout="row"
    layout-align="center center"  
    layout-wrap
    flex-xs="99" flex-sm="95" flex-md="85" flex-gt-md="70">
    
      <div flex="99" flex-gt-sm="99" class="secondary-grey-lighten-1 name">
        John <span class="secondary-grey-lighten-4">Anthony</span> Rivera<br>
        <what-am-i></what-am-i>
      </div>
      <img flex="99" flex-gt-sm="99" href id="me" src="img/me2.png">
        
    </div>
  </div> 
  
  
  
  
  <div layout="row" flex="99" layout-align="center center">
    <div class="tab-selector"
    layout="row" layout-align="space-between center"
    flex-xs="99" flex-sm="95" flex-md="85" flex-gt-md="70">
      <div ng-repeat="tab in tabs.tabs track by $index">
        <div class="tab" ng-class="{'tab-selected': tabs.selected($index), 'tab-unselected': !tabs.selected($index)}">
          <a href ng-click="tabs.set($index)">
            {{tabs.tabs[$index]}}
          </a>
        </div>
      </div>
    </div>
  </div>
  
  
  <div ng-show="tabs.on('Contact')" layout="column" layout-align="center center" flex="99"> 

    <div id="contacts-container" class="animated fadeInRight"
    layout="column" layout-align="start start"
    flex-xs="99" flex-sm="95" flex-md="85" flex-gt-md="70">
      
      <div class="contact-item" layout="row" layout-align="center center">
        <ng-md-icon icon="phone_iphone" size="64" style="fill: #D0D0D0;"></ng-md-icon>
        <div>951-553-4461</div>
      </div>

      <div class="contact-item" layout="row" layout-align="center center">
        <ng-md-icon icon="email" size="64" style="fill: #D0D0D0;"></ng-md-icon> 
        <div>johnanthony.dev@gmail.com</div>
      </div>

      <div class="contact-item" layout="row" layout-align="center center">
        <ng-md-icon icon="github-circle" size="64" style="fill: #D0D0D0;"></ng-md-icon> 
        <div>Github: coffeeexistence</div>
      </div>

    </div>
      
      

  </div>
  
  <div ng-show="tabs.on('Code')" class="" layout="row" class="" layout-align="center center">
    <div  class="" layout="column" flex-xs="99" flex-sm="95" flex-md="85" flex-gt-md="70">
        
        <div layout="row" layout-align="center center">
          <div flex> <hr class="gist-title-hr"></div>
          <h2 style="margin: 1em; padding-left: 0px;">The Gist Of It</h2>
          <div flex><hr class="gist-title-hr"></div> 
        </div>
        

        <div class="gist-description" layout="row" layout-align="start start" layout-wrap>
          <div flex="99" flex-gt-sm="35">
            
            <div layout="row" layout-align="start start" style="margin-bottom: 1em;">
              <a><ng-md-icon ng-click="gists.previous();" icon="arrow_back" size="32" style="fill: #D0D0D0;"></ng-md-icon></a> 
              <a><ng-md-icon ng-click="gists.next();" icon="arrow_forward" size="32" style="fill: #D0D0D0;"></ng-md-icon></a> 
            </div>
            
            <div class="gist-title">{{gists.current().title}}</div>
            <h3 class="x-thin">Problem</h3>
            <p class="secondary-grey-lighten-2 x-thin">{{gists.current().problem}}</p>
            <h3 class="x-thin">Solution</h3>
            <p class="secondary-grey-lighten-1 x-thin">{{gists.current().solution}}</p>
          </div>
          
          <div id="gist-container" flex="99" flex-gt-sm="65" ></div>
          
        </div>
        
        <div layout="row" layout-align="center center">
          <div flex><hr class="gist-title-hr"></div>
        </div>
        
      </div>

    </div>
  

  <div ng-show="tabs.on('Projects & Experience')" layout="row" class="portfolio-section" flex="99"  layout-align="space-around start">

    <div class="portfolio-section animated fadeInRight" layout="row" layout-wrap layout-align="space-around start" flex-xs="95" flex-sm="95" flex-md="85" flex-gt-md="70">

        <div id="left" class="portfolio-section primary-color" flex-gt-md="75" flex="99" layout="column" layout-wrap>
          <div id="experience">
            <h2>Technical Experience</h2>
            <div class="indented">
              <div ng-repeat="project in ctrl.technicalExperience">
                <portfolio-project project="project" ></portfolio-project>
                <md-divider ng-if="!$last"></md-divider>
              </div>
            </div>
          </div>
          <div id="history" style="margin-top: 2em;">
            <h2 class="primary-color">History</h2>
            <md-list class="indented secondary-grey-lighten-3">
              <div ng-repeat="job in ctrl.history">
                <h3 class="header ">{{job.name}}</h3>
                <div class="subheader">
                  <span class="text-grey">{{job.title}}</span>
                  <span class="text-grey"> ({{job.dateString}})</span>
                </div>


                <md-list-item ng-repeat="point in job.points">
                  <div class="list-item">{{point}}</div>
                </md-list-item>
                <md-divider ng-if="!$last"></md-divider>
              </div>
            </md-list>
          </div>
      </div>

      <div id="right" class="skill-set secondary-grey" flex-gt-md="25" flex="99" layout="column" layout-fill layout-align="start start">
        <h2 >Skill Set</h2>
        <div layout="row" layout-align="space-between space-between" layout-align-gt-md="start space-between" layout="row" layout-fill  layout-wrap>
          <div class="skill" ng-repeat="tier1 in ctrl.skills">
            <h3>{{tier1.title}}</h3>
            <div class="sub-skill" ng-repeat="tier2 in tier1.subSkills">
              <h4>{{tier2.title}}</h4>
              <div class="sub-skill" ng-repeat="tier3 in tier2.subSkills">
                <h5>{{tier3.title}}</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>
