<div
  ng-class="{'expanded md-whiteframe-z1': expand.state}"
  class="project-container group">


  <div class="slight-indent" layout="row" layout-align-xs="center center" layout-align="start center" layout-wrap>

    <div flex-gt-xs="10" flex-xs="99">
      <img class="project-icon" ng-src="{{project.icon}}" />
    </div>

    <div flex-xs="99" flex-gt-xs="70" layout="row" layout-align="space-between start">
      <div>
        <h3 class="project-title header thin">{{project.name}}</h3>
        <div class="text-grey subheader">{{project.description}}</div>
      </div>
    </div>

    <div flex-xs="99" flex-gt-xs="20"
         class="text-grey"
         layout="column"
         layout-fill
         layout-align="end start"
         style="height: 100%;">
      <div class="show-more">
        <ui-button ng-click="showAdvanced($event)" class="md-raised text-grey">{{expand.text}}</ui-button>
      </div>

    </div>

  </div>



  <div layout="column" ng-show="expand.state" layout-align="center space-around">

    <div class="list-item fill" ng-repeat="point in project.points" >
      <div class="project-points secondary-grey-lighten-3">&bull;  {{point}}</div>
    </div>

    <md-divider></md-divider>

    <div class="project-extra-content" layout="row" layout-xs="column" layout-align="space-around center" ng-click="">
      <a ng-repeat="link in project.links" ng-href="{{link.url}}" target="_blank" class="text-grey">{{link.title}}</a>
    </div>

    <md-divider ng-if="project.element"></md-divider>

    <div ng-if="project.element" bind-html-compile="project.element">{{project.element}}</div>

  </div>

</div>
