$primary-color: #333;

$primary-text-color: #373737;

$border-color: #F4F4F4;
$border-color-light: #DDDDDD;
$border-color-mid: #BBBBBB;


$background-color: #F9F9F9;


.primary-color {
  color: #26283C;
}

.primary-color-lighten-1 {
  color: #41445C;
}


.secondary-grey h2 {
  color: #373737;
}

.secondary-grey {
  color: #373737;
}

.secondary-grey h3 {
  color: #545454;
}

.secondary-grey-lighten-1 {
  color: #545454;
}

.secondary-grey h3 {
  color: #3A4B54;
}

.secondary-grey-lighten-2 {
  color: #3A4B54;
}

.secondary-grey h4 {
  color: #545454;
}

.secondary-grey-lighten-3 {
  color: #545454;
}

.secondary-grey h5 {
  color: #9E9E9E;
}

.secondary-grey-lighten-4 {
  color: #9E9E9E;
}



.secondary-color {
  color: #212F37;
}

.secondary-color h2 {
  color: #212F37;
}

.secondary-color-lighten-1 {
  color: #3A4B54;
}

.secondary-color h3 {
  color: #3A4B54;
}

.secondary-color-lighten-2 {
  color: #3A4B54;
}

.secondary-color h4 {
  color: #526670;
}

.secondary-color-lighten-3{
  color: #526670;
}

.secondary-color h5 {
  color: #7E949E;
}
