<div ng-click="projectCtrl.toggleExpansion();"
  ng-mouseover="hover=true"
  ng-mouseleave="hover=false"
  ng-class="{'hovered': hover, 'md-whiteframe-z2 expanded': projectCtrl.expanded}"
  class="noborder project-container">

  <div layout="row" layout-align="start center">
    <h3>{{project.name}}</h3>
    <span ng-show="hover" >(Click to expand)</span>
  </div>

  <md-list-item ng-repeat="point in project.points">
    <div class="md-list-item-text">{{point}}</div>
  </md-list-item>

  <div ng-show="projectCtrl.expanded" class="project-extra-content">
    <iframe width="480" height="270" ng-src="{{project.videoSrc}}" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
